@model MyWebApp.Models.Product
<html>
<body>
    <!--
    @Html.ActionLink("Hyperlink 01", "TargetAction")<br />
    @Html.ActionLink("Hyperlink 02", "TargetAction", new { id = Model.ID })<br />
    @Html.ActionLink("Hyperlink 03", "TargetAction", new { name = Model.Name })<br />
    @Html.ActionLink("Hyperlink 04", "TargetAction", "TargetController", new { id = Model.ID }, new { style = "color:red" })<br />
    -->
    @using (Html.BeginForm("TargetAction", "TargetController")) 
    {
        <input type="text" name="id" value="@Model.ID" /><br />
        <input type="text" name="name" value="@Model.Name" /><br />
        <input type="text" name="price" value="@Model.Price" /><br />
        <input type="submit" value="Submit" /><br />

        @Html.Hidden("id", Model.ID)<br />
        @Html.TextBox("name", Model.Name)<br />
        @Html.TextBox("price", Model.Price)<br />
        <input type="submit" value="Submit" /><br />

        @Html.HiddenFor(p => p.ID, Model.ID)<br />
        @Html.TextBoxFor(p => p.Name, Model.Name)<br />
        @Html.TextBoxFor(p => p.Price, Model.Price)<br />
        @Html.TextBox("user", "Timothy")<br />
        @Html.Password("password", "123456")<br />
        <input type="submit" value="Submit" /><br />

        @Html.TextArea("description", Model.Description)<br />
        @Html.TextAreaFor(p => p.Description, Model.Description)<br />
        <input type="submit" value="Submit" /><br />
    }
</body>
</html>