@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Middle Valley Community Bank</h1>
    <p class="lead">Middle Valley Community offers the first-ever web-bases ATM.
    Give it a try today!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Power by ASP.NET</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Register</h2>
        <p>
            Open an account with us
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class="btn btn-info" })</p>
    </div>
    <div class="col-md-6">
        <h2>Login</h2>
        <p>Access your existing account</p>
        <p>@Html.ActionLink("Login", "Login", "Acount", null, new { @class="btn btn-danger" })</p>
    </div>
    
</div>

@*
You are using @Request.Browser.Browser, and that's OK! Email us at tungint@gmail.com if you 
have any problems. Or send us a tweet at @@eifjsl.

@{ 
        var amounts = new List<Decimal>{ 100, 25.5m, -45, 276.25m };
}

<ul>
    @foreach (Decimal amount in amounts)
    {
        <li>@formatAmount(amount)</li>
    }
    
</ul>

@helper formatAmount(decimal amount)
{
    var color = "blue";
    if (amount < 0) { color = "red"; }
    <span style="color: @color">@String.Format("{0:c}", amount)</span>
}
*@