@model Contoso.Entities.Person

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>BusinessEntityId: @Model.BusinessEntityId</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        <b>@Html.DisplayNameFor(model => model.PersonType)</b>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PersonType)
    </dd>
    <dt>
        <b>@Html.DisplayNameFor(model => model.Title)</b>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt>
        <b>@Html.DisplayNameFor(model => model.FirstName)</b>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt>
        <b>@Html.DisplayNameFor(model => model.MiddleName)</b>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.MiddleName)
    </dd>
    <dt>
        <b>@Html.DisplayNameFor(model => model.LastName)</b>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>
</dl>